<div class="well">
  <div class='row'>
    <div class='col-md-12'>
      <%= form_for([current_user, @bodyweight], :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <% if @bodyweight.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@bodyweight.errors.count, "error") %>
              prohibited this exercise from being saved: </h2>
            <ul>
              <% @bodyweight.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :body_weight, "Bodyweight" %>
          </div>
          <div class="col-md-10">
            <%= f.number_field :bodyweight, within: 1..2000, class: "form-control" %>
          </div>
          <div class="control-label col-md-2">
            <%= f.label :height, "Height" %>
          </div>
          <div class="control-label col-md-2">
            <%= f.label :date, "Date" %>
          </div>
          <div class="col-md-10">
            <%= f.text_field :date, class: "form-control", id: "exercise_workout_date" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <%= f.submit class: "btn btn-success btn-lg" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
