<div class="row">
    <div class="containter">
      <nav class="breadcrumb">
        <a class="breadcrumb-item" <%= link_to 'Home/', root_path%></a>
        <a class="breadcrumb-item" <%= link_to 'Workout List/', workouts_path%></a>
        <span class="breadcrumb-item active">Workout Plans</span>
      </nav>
    </div>  
    
    <%= render 'shared/page_title', title: @workout.name %>
   
    <div class="row col-md-7">
      <div class = "panel panel-success">
       <div class = "panel-heading">
          <h3 class = "panel-title"><%= @workout.name %></h3>
       </div>
       
       <div class = "panel-body">
            <p class="text-center"> <%= simple_format(@workout.summary) %></p>
          <ul class = "list-group col-xs-12 col-sm-4">
            <h4 class="list-group-item active">Exerices</h4>
            <% @workout.movements.each do |movement| %> 
              <li class = "list-group-item "><%= movement.name %></li>
            <%end%>
          </ul>
          <ul class = "list-group col-xs-12 col-sm-4">
            <h4 class="list-group-item active">Sets</h4>
            <% @workout.zets.each do |movement| %> 
              <li class = "list-group-item"><%= movement.quantity %></li>
            <%end%>
          </ul>
          <ul class = "list-group col-xs-12 col-sm-4">
            <h4 class="list-group-item active">Repetitions</h4>
            <% @workout.reps.each do |movement| %> 
              <li class = "list-group-item"><%= movement.amount %></li>
            <%end%>
          </ul>
          </br>
          <% if @workout.attachment? %>
            <%= link_to "Download Workout", @workout.attachment_url, class:'btn btn-success' %>
          <% end %>
          <div class="pull-right">
              <%= link_to like_workout_path(@workout, like: true), method: :post do %>
                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> &nbsp <%= @workout.thumbs_up_total %>
              <% end %> &nbsp&nbsp&nbsp&nbsp
              <%= link_to like_workout_path(@workout, like: false), method: :post do %>
                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> &nbsp <%= @workout.thumbs_down_total %>
              <% end %>
            </div>
            <h5><%= link_to "Return to Workout Plan Listing", workouts_path, class: "btn btn-warning btn-small" %></h5>
        </div>
        <div class="social-share-button">
            Share this workout!<%= social_share_button_tag( "#{@workout.user.username}'s Workout Plan") %>
        </div>
          <% if logged_in? and (@workout.user == current_user || current_user.admin?) %>
            <%= link_to "Edit this Workout", edit_workout_path(@workout), class: "btn btn-success pull-right edit" %>
          <% end %> &nbsp&nbsp
          <% if logged_in? and (@workout.user == current_user || current_user.admin?) %>
            <%= link_to "[Delete Workout]", @workout, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger pull-right delete"%>
          <% end %>
      </div>
    </div>
      <div class="col-md-5 pull-right">
        <%= link_to gravatar_for(@workout.user, size: 200), user_path(@workout.user) %>
        <p>
          <h5>Brought to you by: <%= @workout.user.username %></h5>
        </p>
        <hr>
        </br>
      </div>
      <div class="container reviews">
        <h3><br/>Reviews</h3>
            <% if @workout.reviews.any? %>
              <% @workout.reviews.each do |c| %>
              
                <div class="well">
                  <div class="col-md-2 pull-right">
                    <strong>User: <%= c.user.username.downcase.capitalize %> </strong>
                  </div>
                    <p> <%= c.body %> </p>
                    <i><small><%= c.updated_at.strftime("%m/%d/%Y") %></small></i>
                    <% if c.user == current_user %>
                      <%= link_to "Delete Review", review_workout_path(:revid => c.id), class:"btn btn-danger btn-small pull-right", method: :delete, data: { confirm: "Are you sure you want to delete this review?" }  %>
                    <% end %>
                </div>
             
                    <% end %>
              <% else %>
              <h5>Be the first to post a review!</h5>
            <% end %>
            
              <div class="form-group">
                <%= form_tag(review_workout_path, :method=>'post') do %>
                  <%= text_area_tag "body", nil, size:"5x5",  class:"form-control" %>
                  <%= submit_tag "Submit Review", class: "btn btn-primary" %> <br/><br/>
              </div>
                <% end %>
        <h4><i>You may also like: </i></h4>
        <hr>
          <% @random_workout.each do |workout| %>
            <div class="row show-img">
              <%= link_to workout.name, workout %>
              <%= truncate(workout.summary, length: 150)%> <small><%=link_to 'click to see more', workout_path(workout)%></small>
            </div>
        <% end %>
  </div>
  <div class="jumbotron">
    <h1 class="display-3">Join the conversation!</h1>
    <p class="lead">Comment below and join the conversation taking place about this Workout</p>
  </div>
  <%= render 'disquis' %>
</div>