<div class="row">
  <div class="col-md-12 signup-bg">
<%= form_for(resource, as: resource_name,:html => {class: 'form-new form-horizontal', role: 'form'},
    url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <h2 class="text-center">Sign up</h2>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
          <%= f.text_field :username, class: "form-control", autofocus: true, placeholder: "*Username" %>
        </div>
      </div>
    
    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
          <%= f.text_field :first_name, class: "form-control", autofocus: true, placeholder: "First name" %>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
          <%= f.text_field :last_name, class: "form-control", autofocus: true, placeholder: "Last name" %>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
          <%= f.email_field :email, class: "form-control", autofocus: true, placeholder:"*example@example.com" %>
        </div>
    </div>
      <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder:"*Minimum 6 characters" %>
        </div>
      </div>
  
      <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder:"*Confirm password" %>
        </div>
      </div>
      <div class=" form-group">
        <div class="col-md-offset-1 col-md-10">
          <%= f.submit "Sign up", class:"btn btn-success" %>
        </div>
              <h5 class="h9" >Or use your social login?</h5>

        <div class="col-md-offset-1 col-md-10">
        <%- if devise_mapping.omniauthable? %>
          <div class="social">
            <%- resource_class.omniauth_providers.each do |provider| %>
              <p class="text-center tw"><%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %></p>
            <% end -%>
          </div>
        <% end -%>
    </div>
    <% end %>
</div>
<script>
  $(document).ready(function(e){
     $('h5').on('click',function(){
        $('.social').stop().slideToggle();
     });
  })
</script>
