<div class="row">
  <div class="col-md-12 signup-bg">
<%= form_for(resource, as: resource_name,:html => {class: 'form-new form-horizontal', role: 'form'},
    url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

    <div class="form-group">
      <h2 class="text-center">Sign up</h2>
      
      <div class="col-md-offset-1 col-md-10">
        <%= f.text_field :username, class: "form-control", autofocus: true, placeholder:"username" %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-md-offset-1 col-md-10">
        <%= f.text_field :first_name, class: "form-control", autofocus: true, placeholder:"first name" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-1 col-md-10">
        <%= f.text_field :last_name, class: "form-control", autofocus: true, placeholder:"last name" %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-offset-1 col-md-10">
        <%= f.email_field :email, class: "form-control", autofocus: true, placeholder:"email@email.com" %>
      </div>
    </div>
      <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder:"password" %>
        </div>
      </div>
  
      <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
          <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off", placeholder:"pw confirmation" %>
        </div>
      </div>
    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
          <%= f.submit "Signup", class:"btn btn-success" %>
        </div>
        <h4 class="h9" >Click here to use social media account</h4>

        <div class="col-md-offset-1 col-md-10">
        <%- if devise_mapping.omniauthable? %>
          <div class="social">
            <%- resource_class.omniauth_providers.each do |provider| %>
              <p class="text-center tw"><%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %></p>
            <% end -%>
          </div>
        <% end -%>
      </div>
      </div>
    <% end %>
  </div>
</div>
<script>
  $(document).ready(function(e){
     $('h4').on('click',function(){
        $('.social').stop().slideToggle();
     });
  })
</script>