<div class="well">
  <blockquote>
    <p><%= comment.body %></p>
    <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>
  </blockquote>
  <%= form_for [comment, Comment.new] do |f| %>
      <%= f.text_area :body, placeholder: "Add a Reply" %><br/>
      <%= f.submit "Reply", class: "btn btn-primary"  %>
      <% end %>
  <ul>
      <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>
</div>
