<div class="containter">
<nav class="breadcrumb">
  <a class="breadcrumb-item" <%= link_to 'Home/', root_path%></a>
  <a class="breadcrumb-item" <%= link_to 'Recipe List/', recipes_path%></a>
  <span class="breadcrumb-item active">Recipe</span>
</nav>
</div>
<%= render 'shared/page_title', title: @recipe.name %>

<div class="row">
  <div class="col-md-4 pull-right center" id="user-image">
    <%= link_to gravatar_for(@recipe.chef, size: 200), chef_path(@recipe.chef) %>
    <p>
      <h5>Brought to you by: <%= @recipe.chef.chefname %></h5>
    </p>
  </div>
  <div class="col-md-8">

    <h3><%= @recipe.summary %></h3>
    <div class="show_recipe">
      <%= image_tag(@recipe.picture.url, id: "food-image") if @recipe.picture? %>
    </div>
    <div id="show-recipe" class="well">
      <% if @recipe.styles.any? %>
        <p>Styles: <%= render @recipe.styles %></p>
      <% end %>
      <% if @recipe.ingredients.any? %>
        <p>Ingredients: <%= render @recipe.ingredients %></p>
      <% end %>
      <p>
        <strong>Steps:</strong>
      </p>
      <%= simple_format(@recipe.description) %>
      <div class="pull-right">
        <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> &nbsp <%= @recipe.thumbs_up_total %>
        <% end %> &nbsp&nbsp&nbsp&nbsp
        <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
          <i class="fa fa-thumbs-o-down" aria-hidden="true"></i> &nbsp <%= @recipe.thumbs_down_total %>
        <% end %>
      </div>
    </div>
        <% if logged_in? and (@recipe.chef == current_user || current_user.admin?) %>
          <%= link_to "Edit this Recipe", edit_recipe_path(@recipe), class: "btn btn-success pull-right" %>
        <% end %> 
        <% if logged_in? and current_user.admin? %>
          <%= link_to "[Delete Recipe]", @recipe, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger pull-right"%>
        <% end %>
     <% if logged_in? %>
        <h3><br/>Reviews</h3>
        <% if @recipe.reviews.any? %>
          <% @recipe.reviews.each do |c| %>
          
            <div class="well">
              <div class="col-md-2 pull-left">
                <%= link_to gravatar_for(c.chef, size: 100), chef_path(c.chef) %>
              <strong><%= c.chef.chefname.downcase.capitalize %> </strong>
              </div>
                <p> <%= c.body %> </p>
                <i><small><%= c.updated_at.strftime("%m/%d/%Y") %></small></i>
                
                <% if c.chef == current_user %>
                  <%= link_to "Delete Review", review_recipe_path(:revid => c.id), class:"btn btn-danger btn-small pull-right", method: :delete, data: { confirm: "Are you sure you want to delete this review?" }  %>
                <% end %>
            </div>
         
          <% end %>
        <% else %>
        <h5>Be the first to post a review!</h5>
        <% end %>
        
          <div class="form-group">
            <%= form_tag(review_recipe_path, :method=>'post') do %>
              <%= text_area_tag "body", nil, size:"5x5",  class:"form-control" %>
              <%= submit_tag "Submit Review", class: "btn btn-primary" %> <br/><br/>
          </div>
            <% end %>
        
      <% else %>
        <%= link_to "Login", login_path %> or <%= link_to "register", register_path %> to see reviews
      <% end %>
  </div>
</div>

<h5><%= link_to "Return to Recipes Listing", recipes_path, class: "btn btn-warning btn-small" %></h5>