<%= render 'shared/page_title', title: 'Create a New Calorie'%>

<%= render 'shared/errors', obj: @calorie %>
<div class="row">
    <div class="well col-md-8 col-md-offset-2">
        <%= form_for @calorie do |f| %>
            <%= f.label :calories %>
            <%= number_field(:calorie, :amount, in: 100..2500, step: 100) %>

            <%= f.submit 'Create Calories', class: "btn btn-success" %>
        <% end %>
    </div>
</div>