<div class="container">
<nav class="breadcrumb">
  <a class="breadcrumb-item" <%= link_to 'Home/', root_path%></a>
  <a class="breadcrumb-item" <%= link_to 'User List/', users_path%></a>
  <span class="breadcrumb-item active">Recipe</span>
</nav>
</div>
<%= render 'shared/page_title', title:"User: " + @user.username %>

<div class ="row">
    <div class="col-md-4 col-md-offset-4 center">
            <%= gravatar_for @user, size: 200 %>
            <hr>
    </div>
</div>

<div class="row">
    <div class="container">
        <% if @user == current_user %>
        <h3><em><%= "Your Recipes" %></em></h3>
        <% else %>
        <h3><em><%= "Recipes from: " + @user.username %></em></h3>
        <% end %>
        <%= will_paginate @recipes %>
    </div>
</div>
<% @recipes.each do |recipe| %>
    <div class="row">
        <div class="container well">
                 <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
                 <p><%= recipe.summary %></p>
                 <p>
                     <span class='quiet'><small>Created: <%= time_ago_in_words(recipe.created_at)%> ago</small></span><br>
                     <span class='quiet'><small>Last edited: <%= time_ago_in_words(recipe.updated_at)%> ago</small></span>
                 </p>
            <div class="pull-right">
                <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= recipe.thumbs_up_total %>
                <% end %> &nbsp&nbsp&nbsp&nbsp
                <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= recipe.thumbs_down_total %>
                <% end %>
            </div>
        </div>
    </div>

<% end %>
<hr>
<div class="row">
    <div class="container">
        <% if @user == current_user %>
        <h3><em><%= "Your Workout plans" %></em></h3>
        <% else %>
        <h3><em><%= "Workouts from: " + @user.username %></em></h3>
        <% end %>
        <%= will_paginate @workouts %>
    </div>
</div>
<% @workouts.each do |workout| %>
    <div class="row">
        <div class="container well">
                 <h4><%= link_to workout.name, workout_path(workout) %></h4>
                 <p><%= workout.summary %></p>
                 <p>
                     <span class='quiet'><small>Created: <%= time_ago_in_words(workout.created_at)%> ago</small></span><br>
                     <span class='quiet'><small>Last edited: <%= time_ago_in_words(workout.updated_at)%> ago</small></span>
                 </p>
            <div class="pull-right">
                <%= link_to like_workout_path(workout, like: true), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp <%= workout.thumbs_up_total %>
                <% end %> &nbsp&nbsp&nbsp&nbsp
                <%= link_to like_workout_path(workout, like: false), method: :post do %>
                    <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= workout.thumbs_down_total %>
                <% end %>
            </div>
        </div>
    </div>

<% end %>
<hr>
<div class= "row">
    <div class="container">
        <% unless @exercises.empty?  %>
          <h1>Listing Workouts</h1>
          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th>Duration</th>
                <th>Workout Details</th>
                <th>Activity Date</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @exercises.each do |exercise| %>
              <tr>
                <td><%= exercise.duration_in_min %></td>
                <td><%= truncate(exercise.workout, length: 100) %></td>
                <td><%= exercise.workout_date %></td>
                <td><%= link_to "Show", [current_user, exercise] %></td>
                <td><%= link_to "Edit", [:edit, current_user, exercise] %></td>
                <td><%= link_to "Destroy", [current_user, exercise], method: :delete, data: {confirm: "Are you sure?"} %></td>
              </tr>
              <%end%>
            </tbody>
          </table>
          <br>
        <%else%>
          <div class="alert alert-danger message-font text-center">
            No Workouts yet
          </div>
        <%end%>
        <%= link_to "New Workout", new_user_exercise_path(current_user), class: "btn btn-primary link" %>
        <%= content_tag :div, "", id: 'chart', data: {workouts: @exercises}, class: "chart" %>
    </div>
<hr>
<div class= "row">
    <div class="container">
        <% unless @bodyweights.empty?  %>
      <h1>Listing Bodyweight</h1>
      <table class="table table-hover table-responsive">
        <thead class="thead-inverse">
          <tr>
            <th>Bodyweight</th>
            <th>Height</th>
            <th>BMI</th>
            <th>Date</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @bodyweights.each do |bodyweight| %>
          <tr>
            <td><%= bodyweight.body_weight %></td>
            <td><%= bodyweight.height %></td>
            <td><%= bodyweight.body_weight/(bodyweight.height*100)*bodyweight.height %></td>
            <td><%= bodyweight.created_at %></td>
            <td><%= link_to "Show", [current_user, bodyweight] %></td>
            <td><%= link_to "Edit", [:edit, current_user, bodyweight] %></td>
            <td><%= link_to "Destroy", [current_user, bodyweight], method: :delete, data: {confirm: "Are you sure?"} %></td>
          </tr>
          <%end%>
        </tbody>
      </table>
      <br>
    <%else%>
      <div class="alert alert-danger message-font text-center">
        No Bodyweight yet
      </div>
    <%end%>
    <%= link_to "New Bodyweight", new_user_bodyweight_path(current_user), class: "btn btn-primary link" %>
    <%= content_tag :div, "", id: 'bwchart', data: {workouts: @bodyweights}, class: "bwchart" %>
</div>
<hr>
    <div class="container">
      <h1 class="text-center">My Friends</h1>
      <table class="table table-hover table-responsive">
        <thead>
          <th>Name</th>
          <th></th>
        </thead>
        <tbody>
          <% @friends.each do |friend| %>
            <div class="col-md-offset-3 col-md-6 friend-name">
              <td> <%= link_to gravatar_for(current_user, size: 100), user_path(current_user) %></td>
              <td class="pull-left"><%= link_to friend.full_name, friendship_path(current_user.current_friendship(friend)) %></td>
            </div>
            <div class="col-md-3">
              <div class="btn-unfollow">
                <td><%= link_to "Unfollow", friendship_path(current_user.current_friendship(friend)), method: :delete,
               data: {confirm: "Are you sure?"}, class: "btn btn-primary link pull-right" %></td>
              </div>
            </div>
        </tbody>
      </table>
      <% end %>
    
</div>
<script>
  $(document).ready(function() {
  $('#exercise_workout_date').datepicker({ dateFormat: 'yy-mm-dd' });
  
  new Morris.Line({
  // ID of the element in which to draw the chart.!
  element: 'chart',
  // Chart data records -- each entry in this array corresponds to a point on!
  // the chart.!
  data: $('#chart').data('workouts'),
  // The name of the data record attribute that contains x-values. xkey: 'workout_date',!
  // A list of names of data record attributes that contain y-values. ykeys: ['duration_in_min'],!
  // Labels for the ykeys -- will be displayed when you hover over the // chart.!
  xkey: 'workout_date',
  ykeys: ['duration_in_min', 'rating'],
  labels: ['Duration (min)', 'Rate of perceived exertion (RPE)'],
  xLabels: "day",
  xLabelAngle: 60,
  lineColors:['gray','red'],
  xLabelFormat: function (x) {
  date_string = x.getFullYear() + "/" + parseInt(x.getMonth() + 1) + "/" + x.getDate();
  return date_string; 
  },
  yLabelFormat: function(y) { return y + ' '; }
  });
  });
    $(document).ready(function() {
  $('#bodyweight_workout_date').datepicker({ dateFormat: 'yy-mm-dd' });
  
  new Morris.Line({
  // ID of the element in which to draw the chart.!
  element: 'bwchart',
  // Chart data records -- each entry in this array corresponds to a point on!
  // the chart.!
  data: $('#bwchart').data('workouts'),
  // The name of the data record attribute that contains x-values. xkey: 'workout_date',!
  // A list of names of data record attributes that contain y-values. ykeys: ['duration_in_min'],!
  // Labels for the ykeys -- will be displayed when you hover over the // chart.!
  xkey: 'created_at',
  ykeys: ['body_weight'],
  labels: ['Bodyweight'],
  xLabels: "day",
  xLabelAngle: 60,
  lineColors:['red'],
  xLabelFormat: function (x) {
  date_string = x.getFullYear() + "/" + parseInt(x.getMonth() + 1) + "/" + x.getDate();
  return date_string; 
  },
  yLabelFormat: function(y) { return y + ' '; }
  });
  });
  
</script>