<div class="center jumbotron">
  <h1>Welcome to Fitness Lab</h1>
  <h2>This is the here you can track workouts, create recipes to share along with your workout plans</h2>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-success"%>
</div>

<div id="wraper" class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2 class="midrow">
        View recipes and workouts as a Guest User
      </h2>
      <h3 class="left">
        Browse and view recipes and workouts as a Guest then Sign up later
      </h3>
      <p><%= link_to "Browse Recipe Listings", recipes_path, class:"btn btn-small btn-warning"%></p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h2 class="midrow">
        Sign into your account
      </h2>
      <h3 class="left">
        <ul>
          <li>Add new Recipes</li>
          <li>Add new Workout plans</li>
          <li>Add reviews</li>
          <li>Track Workouts</li>
        </ul>
      </h3>
      <p><%= link_to "Sign in", new_user_session_path, class:"btn btn-small btn-warning"%></p>
    </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
      <h2 class="midrow">
        Checkout our store
      </h2>
      <h3 class="left">
        <p>While you're here we'd love you to have a look through our supplement store and checkout our great products.</p>
        <small><p>(10% of all the profits from this store go to charities around the world)</p></small>
      </h3>
      <p><%= link_to "A&K Supplements", "http://www.aandklabs.com/", class:"btn btn-small btn-warning"%></p>
    </div>
  </div>
</div>
<%= render "layouts/carousel" %>