<div class="well">
  <div class='row'>
    <div class='col-md-12'>
      <%= form_for([current_user, @exercise], :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <% if @exercise.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@exercise.errors.count, "error") %>
              prohibited this exercise from being saved: </h2>
            <ul>
              <% @exercise.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :rating, "RPE (rate of perceived exertion)" %>
          </div>
          <div class="col-md-10">
            <%= f.number_field :rating, within: 1..10, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :duration_in_min, "Duration (min)" %>
          </div>
          <div class="col-md-10">
            <%= f.number_field :duration_in_min, class: "form-control" %>
          </div>
        </div>
      <div class="clearfix">
        <div class="col-lg-3 col-md-6">
          <ol>
            <%= f.label :Movements %>
                <%= f.fields_for :movements do |m| %>
                  <li><%= render 'movement_fields', f: m %></li>
                <% end %>
            <div class="links">
              <%= link_to_add_association 'Add Movement', f, :movements, class: "pull-right d-inline-block btn btn-primary add-button" %>
            </div>
          </ol>
              </br>
              </br>
        </div>
        <div class="col-lg-3 col-md-6">
          <ol>
             <%= f.label :Reps %>
                <%= f.fields_for :reps do |rep| %>
                  <li><%= render 'rep_fields', f: rep %></li>
                <% end %>
            <div class="links">
              <%= link_to_add_association 'Add Reps', f, :reps, class: "pull-right d-inline-block btn btn-primary add-button" %>
            </div>
          </ol>
              </br>
              </br> 
        </div>
        <div class="col-lg-3 col-md-6">
          <ol>
            <%= f.label :Sets %>
                <%= f.fields_for :zets do |zet| %>
                  <li><%= render 'zet_fields', f: zet %></li>
                <% end %>
            <div class="links">
              <%= link_to_add_association 'Add Set', f, :zets, class: "pull-right d-inline-block btn btn-primary add-button" %>
            </div>
          </ol>
              </br>
              </br>
        </div>
        <div class="col-lg-3 col-md-6">
          <ol>
             <%= f.label :Weights %>
                <%= f.fields_for :weights do |weight| %>
                  <li><%= render 'weight_fields', f: weight %></li>
                <% end %>
            <div class="links">
              <%= link_to_add_association 'Add weight', f, :weights, class: "pull-right d-inline-block btn btn-primary add-button" %>
            </div>
          </ol>
              </br>
              </br> 
        </div>
      </div>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :workout, "Workout Details" %><br>
          </div>
          <div class="col-md-10">
            <%= f.text_area :workout, class: "form-control", rows: "10" %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :workout_date, "Activity date" %>
          </div>
          <div class="col-md-10">
            <%= f.text_field :workout_date, class: "form-control", id: "exercise_workout_date" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <%= f.submit class: "btn btn-success btn-lg" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
$('#exercise_workout_date').datepicker({ dateFormat: 'yy-mm-dd' });

new Morris.Line({
// ID of the element in which to draw the chart.!
element: 'chart',
// Chart data records -- each entry in this array corresponds to a point on!
// the chart.!
data: $('#chart').data('workouts'),
// The name of the data record attribute that contains x-values. xkey: 'workout_date',!
// A list of names of data record attributes that contain y-values. ykeys: ['duration_in_min'],!
// Labels for the ykeys -- will be displayed when you hover over the // chart.!
xkey: 'workout_date',
ykeys: ['duration_in_min'],
labels: ['Duration (min)'],
xLabels: "day",
xLabelAngle: 60,
xLabelFormat: function (x) {
date_string = x.getFullYear() + "/" + parseInt(x.getMonth() + 1) + "/" + x.getDate();
return date_string; 
},
yLabelFormat: function(y) { return y + ' min'; } 
});
});
</script>
<script>
  $('#star-rating').raty({
    path: 'https://s3.amazonaws.com/rutbustin1/stars/',
    scoreName: 'exercise[rating]'
  });
</script>