<div class="well">
  <div class='row'>
    <div class='col-md-12'>
      <%= form_for([current_user, @exercise], :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <% if @exercise.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@exercise.errors.count, "error") %>
              prohibited this exercise from being saved: </h2>
            <ul>
              <% @exercise.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :duration_in_min, "Duration (min)" %>
          </div>
          <div class="col-md-10">
            <%= f.number_field :duration_in_min, class: "form-control" %>
          </div>
        </div>
      <div class="clearfix">
        <div class="col-lg-3 col-md-6">
        <%= f.label :Movement %>
                <%= f.fields_for :movements do |movement| %>
                  <%= render 'movement_fields', f: movement %>
                <% end %>
            <div class="links">
              <%= link_to_add_association 'Add movement', f, :movements, class: "pull-right d-inline-block btn btn-primary add-button" %>
              </br>
              </br>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
             <%= f.label :Reps %>
                <%= f.fields_for :reps do |rep| %>
                  <%= render 'rep_fields', f: rep %>
                <% end %>
            <div class="links">
              <%= link_to_add_association 'Add Reps', f, :reps, class: "pull-right d-inline-block btn btn-primary add-button" %>
            </br>
            </br>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
        <%= f.label :Zets %>
                <%= f.fields_for :zets do |zet| %>
                  <%= render 'zet_fields', f: zet %>
                <% end %>
            <div class="links">
              <%= link_to_add_association 'Add Set', f, :zets, class: "pull-right d-inline-block btn btn-primary add-button" %>
            </div>
              </br>
              </br>
        </div>
        <div class="col-lg-3 col-md-6">
             <%= f.label :Weights %>
                <%= f.fields_for :weights do |weight| %>
                  <%= render 'weight_fields', f: weight %>
                <% end %>
            <div class="links">
              <%= link_to_add_association 'Add weight', f, :weights, class: "pull-right d-inline-block btn btn-primary add-button" %>
            </div>
              </br>
              </br> 
        </div>
      </div>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :workout, "Workout Details" %><br>
          </div>
          <div class="col-md-10">
            <%= f.text_area :workout, class: "form-control", rows: "10" %>
          </div>
        </div>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :workout_date, "Activity date" %>
          </div>
          <div class="col-md-10">
            <%= f.text_field :workout_date, class: "form-control", id: "exercise_workout_date" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <%= f.submit class: "btn btn-success btn-lg" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>