<div class="col-xs-12 well">
  <%= content_tag :div, "", id: 'chart', data: {workouts: @exercises}, class: "chart" %>
  <div>
    <h2 class="show-header">Showing <%= "#{@exercise.user.full_name}'s Workout Details" %></h2>
  </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Workout Duration</h3>
      </div>
      <div class="panel-body">
        <%= "#{@exercise.duration_in_min} minutes" %>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Output</h3>
      </div>
      <div class="panel-body">
        <%= "Rate of perceived exertion: #{@exercise.rating}" %>
      </div>
    </div>
    <div class="col-xs-12 col-md-12 panel panel-primary">
        <ul class = "list-group col-xs-12 col-sm-6">
        <h4 class="list-group-item active">Exerices</h4>
            <% @exercise.movements.each do |movement| %>
            <li class = "list-group-item">
              <%= movement.name %>
            </li>
            <%end%>
        </ul>
        <ul class = "list-group col-xs-12 col-sm-6">
         <h4 class="list-group-item active">Weights</h4>
            <% @exercise.weights.each do |weight| %>
            <li class = "list-group-item">
              <%= weight.kilogram %>
            </li>
            <%end%>
        </ul>
        <ul class = "list-group col-xs-12 col-sm-6">
        <h4 class="list-group-item active">Repetitions</h4>
            <% @exercise.reps.each do |rep| %>
            <li class = "list-group-item">
              <%= rep.amount %>
            </li>
            <%end%>
        </ul>
        <ul class = "list-group col-xs-12 col-sm-6">
         <h4 class="list-group-item active">Sets</h4>
            <% @exercise.zets.each do |set| %>
            <li class = "list-group-item">
              <%= set.quantity %>
            </li>
            <%end%>
        </ul>
        </div>
    
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Workout Notes</h3>
      </div>
      <div class="panel-body">
        <%= @exercise.workout %>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Workout Date</h3>
      </div>
      <div class="panel-body">
        <%= @exercise.workout_date %>
      </div>
    </div>
    <div>
    <%= link_to "Back", user_exercises_path(current_user), class:"btn btn-lg btn-primary" %>
    </div>
    
</div>
