<div class="well">
  <div class='row'>
    <div class='col-md-12'>
      <%= form_for([current_user, @bodyweight], :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <% if @bodyweight.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@bodyweight.errors.count, "error") %>
              prohibited this bodyweights from being saved: </h2>
            <ul>
              <% @bodyweight.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <div class="control-label col-md-2">
            <%= f.label :body_weight, "Bodyweight in kilograms (kg)" %>
          </div>
          <div class="col-md-10">
            <%= f.number_field :body_weight, within: 1..400, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <br>
          <div class="control-label col-md-2">
            <%= f.label :height, "Height in centimetres (cm)" %>
          </div>
          <div class="col-md-10">
            <%= f.number_field :height, within: 1..400, class: "form-control" %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.button :Submit, class: 'btn btn-success btn-lg' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
