<div class="col-xs-12 well">
  <%= content_tag :div, "", id: 'chart', data: {workouts: @bodyweights}, class: "chart" %>
  <div>
    <h2 class="show-header">Showing <%= "#{@bodyweight.user.username}'s Workout Details" %></h2>
  </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Bodyweight</h3>
      </div>
      <div class="panel-body">
        <%= "#{@bodyweight.body_weight} minutes" %>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">Height</h3>
      </div>      
      <div class="panel-body">
        <%= "#{@bodyweight.height} minutes" %>
      </div>
      <div class="panel-heading">
        <h3 class="panel-title">BMI</h3>
      </div>
      <div class="panel-body">
        <p>=body_weight*(height*100)2</p>
      </div>
    </div>
    
    <%= link_to "Back", user_bodyweights_path(current_user), class:"btn btn-lg btn-primary" %>
    </div>
    
</div>