<header role="banner">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid sloppy-fix">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div id="logo">
          <%= link_to root_path, class: "btn btn-default btn-success", id: "logo" do %>
            FitnessLab <i class="fa fa-cutlery" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" >
        <ul class="nav navbar-nav" >
          <li class="active" ><%= link_to "Home", root_path %>
            <span class="sr-only">(current)</span>
          </li>
        </ul>
        <%= form_tag(search_dashboard_path, class: "navbar-form", role: "search", id:"search") do %>
          <div class="form-group">
            <%= text_field_tag :search_name, nil, placeholder: "Search for friends", class: "form-control" %>
          </div>
          <%= submit_tag "Search", class: "btn btn-default", id: "search-button" %>
        <%end%>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="dropdown"><%= link_to '#', "data-toggle" => "dropdown" do %>
            Recipes <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Search by</li>
            <li class="dropdown-submenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Styles</a>
              <ul class="dropdown-menu">
                <% Style.all.each do |style| %>
                  <li id="styles"><%= link_to style.name, style_path(style) %></li>
                <% end %>
                <% if logged_in? %>
                  <li class="divider"></li>
                    <li>
                      <%= link_to(new_style_path) do %>
                      New Style
                      <% end %>
                    </li>
                <% end %>
            </li>
              </ul>
        
                      <li class="divider"></li>
                        <li class="dropdown-submenu">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Feeds</a>
                          <ul class="dropdown-menu">
                            <% Feed.all.each do |feed| %>
                              <li id="Feeds"><%= link_to feed.people, feed_path(feed) %></li>
                            <% end %>
                <% if logged_in? %>
                  <li class="divider"></li>
                    <li>
                      <%= link_to(new_feed_path) do %>
                        New Feeds
                      <% end %>
                    </li>
                <% end %>
                        </li>
                          </ul>
                      <li class="divider"></li>
                        <li class="dropdown-submenu">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Preptime</a>
                          <ul class="dropdown-menu">
                            <% Preptime.all.each do |preptime| %>
                              <li id="preptimes"><%= link_to preptime.time, preptime_path(preptime) %></li>
                            <% end %>
                <% if logged_in? %>
                  <li class="divider"></li>
                    <li>
                      <%= link_to(new_preptime_path) do %>
                        New preptime
                      <% end %>
                    </li>
                <% end %>
                        </li>
                          </ul>
                      <% if logged_in? %>
                        <li class="divider"></li>
                          <li class="dropdown-header">Create</li>
                            <li>
                              <%= link_to(new_recipe_path) do %>
                                New Recipe
                              <% end %>
                            </li>
                    <li class="divider"></li>
                        <li>
                          <%= link_to 'All recipes', recipes_path %>
                        </li>
                      <% end %>
        </ul> 
        <li class="dropdown"><%= link_to '#', "data-toggle" => "dropdown" do %>
            Workouts <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Workout plans", workouts_path %></li>
            <li><%= link_to "New Workout plan", new_workout_path %></li>
            <li><%= link_to "Dashboard", dashboard_index_path(current_user) %></li>
          </ul>
        <li class="dropdown"><%= link_to '#', "data-toggle" => "dropdown" do %>
            <%="#{current_user.username}"%> <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <li><%= link_to "Edit Account", edit_user_registration_path %></li>
            <li class="<%= active_page(:inbox) %>">
              <%= link_to mailbox_inbox_path do  %>
                  <span class="label label-danger pull-right"><%=unread_messages_count%></span>
                  <em class="fa fa-inbox fa-lg"></em>
                  <span>Inbox</span>
              <% end %>
            </li>
            <li><%= link_to "Your Home Page", user_path(current_user) %></li>
            <li><%= link_to "Log a Workout", new_user_exercise_path(current_user) %></li>
            <li><%= link_to "Measurements", new_user_bodyweight_path(current_user) %></li>
          </ul>
          <%else%>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Sign In", new_user_session_path %></li>
          <%end%>
          <ul>
        </ul>
        </ul>
      </div>
    </div>
  </nav>
</header>
