<!DOCTYPE html>
<html>
<head>
  <title>Recipes (A & K LABS)</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="//load.sumome.com/" data-sumo-site-id="c5bf8251f90d125ef3264df7e976b4ab5a4a5a380ab1deaec05444284b2169d0" async="async"></script>

  
</head>
<body>

<%= render "layouts/navigation" %>
<%= render "layouts/parrallax" %>
  
<%= render 'layouts/messages'%>
<div class="container">
<%= yield %>
  </div>
<%= render "layouts/carousel" %>
<%= render "layouts/footer" %>

</body>
</html>
