<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'logo.ico' %>
    <link href="https://fonts.googleapis.com/css?family=Doppio+One|Pacifico" rel="stylesheet">
    <!--<script src="//load.sumome.com/" data-sumo-site-id="c5bf8251f90d125ef3264df7e976b4ab5a4a5a380ab1deaec05444284b2169d0" async="async"></script>-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    
    <%= render "layouts/navigation2"%>
    <div class="container-fluid">
      <%= render 'layouts/messages'%>
      <%= render "shared/content_navigation" %>
      <%= yield %>
    </div>
    
    <%= render "layouts/footer" %>
  
  </body>
</html>